// =====================================
//    helpers
// -------------------------------------
//
// Contents
//
// 1. Hide from everything
//
// =====================================


// hide from everything ----------------
// Thanks Stu! ~ http://mrqw.es/t/j0

// these blocks will only appear if extended. So div%hidden would create div.hidden {}

%hidden {
        display: none !important;
        visibility: hidden;
}

%visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        &.focusable:active,
        &.focusable:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
        }
}

%invisible {
        visibility: hidden;
}