// =====================================
//    Mixins
// -------------------------------------
//
// Contents
//
// 01. Rounded corners - border-radius()
// 02. transitions - transition()
// 03. Clearfix - cf()
// 04. Selections - selection()
// 05. Box shadows
//
// =====================================

// 01. Add rounded corners to any element ~ via https://github.com/sturobson/Sassifaction/blob/master/base/mixins/_border-radius.scss

@mixin border-radius($a: false, $b: false, $c: false, $d: false, $top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0, $top: false, $bottom: false, $right: false, $left: false, $radius: false) {

  // Handle shorthand notation like CSS3 would
  // You shouldn't explictly set these variables when calling the mixin
  @if $d { $radius: $a $b $c $d; }
  @else if $c { $radius: $a $b $c; }
  @else if $b { $radius: $a $b; }
  @else if $a { $radius: $a; }

  @else {

    // Target individual corners (or groups) instead of using CSS3 shorthand
    @if $top { $top-left: $top; $top-right: $top; }
    @if $bottom { $bottom-right: $bottom; $bottom-left: $bottom; }
    @if $left { $top-left: $left; $bottom-left: $left; }
    @if $right { $top-right: $right; $bottom-right: $right; }
    @if $top-left { $top-left: $top-left; }
    @if $top-right { $top-right: $top-right; }
    @if $bottom-left { $bottom-left: $bottom-left; }
    @if $bottom-right { $bottom-right: $bottom-right; }

    // Set the radius
    $radius: $top-left $top-right $bottom-right $bottom-left;
  }

  // Webkit, Mozilla, KHTML and standard CSS3
  -webkit-border-radius: $radius;
   -khtml-border-radius: $radius;
     -moz-border-radius: $radius;
                    border-radius: $radius;
  -webkit-background-clip: padding-box;
   -khtml-background-clio: padding-box;
                    -moz-background-clip: padding;
                    background-clip: padding-box;
}

// 02. Add a transition to UI elements (default 0.1s)

@mixin transition ($speed: 0.1s) {
	-webkit-transition:all $speed ease-in-out;
	-moz-transition:all $speed ease-in-out;
	transition:all $speed ease-in-out;
}

// 03. clearfix from the Nicolas Gallagher site ~ http://mrqw.es/t/gc

@mixin cf() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// 04. specify a background & foreground colour for element selections; foreground color defaults to white if not specified ~ http://mrqw.es/t/iy

@mixin selection($background, $foreground:#fff) {
    ::-moz-selection { background: $background; color: $foreground; text-shadow: none; }
    ::selection { background: $background; color: $foreground; text-shadow: none; }
}

// 05. Box shadows
@mixin box-shadow ($values) {
    -webkit-box-shadow: $values; // iOS Safari 3.2 - 4.3, Android 2.1+
            box-shadow: $values;
}