// =====================================
//    Mixins
// -------------------------------------
//
// Contents
//
// 01. Rounded corners - border-radius()
// 02. transitions - transition()
// 03. Clearfix - cf()
// 04. Selections - selection()
//
// =====================================

// 01. Add rounded corners to any element

@mixin border-radius ($radius: 5px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;	
	-moz-border-radius: $radius;
}

// 02. Add a transition to UI elements (default 0.1s)

@mixin transition ($speed: 0.1s) {
	-webkit-transition:all $speed ease-in-out;
	-moz-transition:all $speed ease-in-out;
	transition:all $speed ease-in-out;
}

// 03. clearfix from the Nicolas Gallagher site ~ http://mrqw.es/t/gc

@mixin cf() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// 04. specify a background & foreground colour for element selections; foreground color defaults to white if not specified ~ http://mrqw.es/t/iy

@mixin selection($background, $foreground:#fff) {
    ::-moz-selection { background: $background; color: $foreground; text-shadow: none; }
    ::selection { background: $background; color: $foreground; text-shadow: none; }
}