// =====================================
//    Variables
// -------------------------------------
//
// Contents
//
// 01. Sizing
// 02. Colours
//
// =====================================

// 01. Sizing

	$font-size: 16;
	$line-height: 24;


// 02. Colours

	$maincol: #333;
	$seccol: #e2434;
	$altcol: #2a7bda;
	$white: #fefefe;
	$black: #232323;