@import "reset"; // Lets level the playing field
@import "_vars"; // Import the variables
@import "_mixins"; // Import the mixins file


/* GENERAL STYLES ================================= */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* SITE STYLES ================================= */